@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
https://www.colorhunt.co/palette/f2f2f2eae4d5b6b09f000000
#F2F2F2
#EAE4D5
#B6B09F
#000000
*/

:root {
  --borderColor: #bebebe;
  --bodyColor: #ffffff;
  --coinBlockBgActive: rgb(236, 236, 236);
  --transactionHover: rgb(236, 236, 236);
  --borderRadius: 0.375rem;
  --bgWhite: #ffffff;

  /* --bodyColor: #f2f2f2; */
}

body {
  background-color: var(--bodyColor);
}

input {
  width: 100%;
  max-width: 100%;
}

.inputMain {
  background-color: var(--coinBlockBgActive);
  padding: .15rem;

}

.border {
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
}


/* .dark body {
  background-color: gray;
} */

@layer components {
  .mainBorder {
    @apply border p-2 rounded-md;
    border-color: var(--borderColor);
  }
}

.mainHeader {
  font-weight: bold;
}

.header {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.3rem;
}

.header > * {
  flex: 1;
  position: relative;
}

.header > *::after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  background-color: var(--borderColor);
  right: 0;
}
.mainHeader > *::before {
  content: "";
  width: 50%;
  height: 1px;
  position: absolute;
  background-color: var(--borderColor);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.header > *:last-child:after {
  content: "";
  display: none;
}

.transactionRow {
  transition: all 0.1s;
}

.transactionRow:hover {
  background-color: var(--transactionHover);
}

.coinBlock {
  user-select: none;
  text-align: center;
  min-width: 3.5rem;
}

.coinBlockActive {
  background-color: var(--coinBlockBgActive);
  overflow: hidden;
}
