@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
https://www.colorhunt.co/palette/f2f2f2eae4d5b6b09f000000
#F2F2F2
#EAE4D5
#B6B09F
#000000
*/

*{
  box-sizing: border-box;
}

:root {
  --borderColor: #bebebe;
  --bodyColor: #ffffff;
  --coinBlockBgActive: rgb(236, 236, 236);
  --transactionHover: rgb(236, 236, 236);
  --opacityColor: rgba(255, 255, 255, 0.67);
  --borderRadius: 0.375rem;
  --bgWhite: #ffffff;
  --fzBase: 0.75rem; 
  --greenColor: rgb(22, 199, 132);
  --inputPadding: 0.125rem;
  --inputDatePadding: 0.0625rem;

  /* --bodyColor: #f2f2f2; */
}
  

body {
  background-color: var(--bodyColor);
  line-height: 1.4;
  font-size: var(--fzBase);
}

h1{
  font-size: 1rem;
}

button, a {
  font-size: inherit;
}

img {
  max-width: 100%;
  width: 100%;
}

input {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  min-height: 1.125rem;
}

/* input:not([type="date"]){
  padding: 5px;
} */

.btnActive {
  background-color: var(--coinBlockBgActive);
  overflow: hidden;
}


.input-primary {
  background-color: var(--coinBlockBgActive);
  padding: var(--inputPadding);
  border-radius: var(--borderRadius);
}

.input-primary[type="date"]{
  padding: var(--inputDatePadding);
}

.card-border {
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
}
.container-border {
    /* border-color: var(--borderColor); */
    padding: .2rem;
}

output {
  width: 100%;
}

.btn-primary{
  @apply card-border container-border select-none text-center min-w-[2.25rem] sm:min-w-[3rem]
}


@media (min-width: 360px) {
  .container-border {
    padding: .3rem;
}

}
@media (min-width: 480px) {
  :root {
    --fzBase: 0.875rem; 
  }

  body {
    line-height: 1.5;
  }

}
@media (min-width: 640px) {
  :root {
    --fzBase: 1rem; 
    --inputPadding: 0.25rem;
    --inputDatePadding: 0.1875rem;
  }
}
@media (min-width: 768px) {

}
@media (min-width: 1024px) {

}


/* .dark body {
  background-color: gray;
} */

label {
  display: block;
}