@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
https://www.colorhunt.co/palette/f2f2f2eae4d5b6b09f000000
#F2F2F2
#EAE4D5
#B6B09F
#000000
*/

:root {
  --borderColor: #bebebe;
  --bodyColor: #ffffff;
  --coinBlockBgActive: rgb(236, 236, 236);
  --transactionHover: rgb(236, 236, 236);
  --opacityColor: rgba(255, 255, 255, 0.67);
  --borderRadius: 0.375rem;
  --bgWhite: #ffffff;
  --fzBase: 0.75rem; 

  /* --bodyColor: #f2f2f2; */
}
  

body {
  background-color: var(--bodyColor);
  line-height: 1.4;
  font-size: var(--fzBase);
}

h1{
  font-size: 1rem;
}

button, a {
  font-size: inherit;
}

input {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  min-height: 1.125rem;
}


.input-primary {
  background-color: var(--coinBlockBgActive);
  padding: .15rem;
  border-radius: var(--borderRadius);
}

.card-border {
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
}
.container-border {
    /* border-color: var(--borderColor); */
    padding: .2rem;
}

output {
  width: 100%;
}


@media (min-width: 360px) {
  .container-border {
    padding: .3rem;
}

}
@media (min-width: 480px) {
  :root {
    --fzBase: 0.875rem; 
  }

  body {
    line-height: 1.5;
  }

  .input-primary {
    padding: .25rem;
}
}
@media (min-width: 640px) {
  :root {
    --fzBase: 1rem; 
  }
}
@media (min-width: 768px) {

}
@media (min-width: 1024px) {

}


/* .dark body {
  background-color: gray;
} */
